@(host: String)

@layout {

    <h3>Debug and Monitor</h3>
    <a href="@controllers.debug.routes.MarketDataServiceMonitorController.monitor">Market Data Service</a>
    
    <h3>Tools</h3>

    <a href="@controllers.tools.routes.RunProcessController.runProcess">日初处理, 日终处理, 估值</a><p>
    
    <a href="@routes.PortfolioController.list">@routes.PortfolioController.list</a><p>

    <p>

    <h3>Test Upload Account Import CSV</h3>
    <form method="post" action="@routes.AccountController.importUpload" enctype="multipart/form-data">
        <input type="file" name="upload">
        <p>
            <input type="submit">
        </p>
    </form>

    查看导入进度: http://@{host}/account/import/status?uuid=<br>
    <p>

    <h3>Test File Upload</h3>
    <form method="post" action="@routes.ProxyController.upload" enctype="multipart/form-data">
        <input type="file" name="upload">
        <p>
            <input type="submit">
        </p>
    </form>
}
