#
# Database
#
accountmaster.db {
    url = "jdbc:mysql://localhost:3306/accountmaster"
    user = root
    password = ""
}
securitymaster.db {
    url = "jdbc:mysql://10.20.111.101:3306/securitymaster2"
    user = tao.tao
    password = "Welcome2013"
}

hibernate.show_sql = false


#
# Host information
#
pms {
    api.url = "http://localhost:9000"
    f2e.host = "f2e01-dev.datayes.com"
}


#
# SSO
#
paas.sso {
    enabled = false
    auth.url = "https://10.20.112.214:9443/samlsso"
    consumer.url="http://10.20.102.158:9000/saml/pms/consumer"
}


#
# External Systems
#
jupitar.jms {
    url = "tcp://trading4-dev.datayes.com:61666"
    topic = "Topic.Tiger.ClientUpdate"
}
redis {
    host = "redis01-dev"
    port = 6379
    stock_channel = "stock2"
    future_channel = "future2"
}


#
# Settings related to system
#

system {
    running.mode = NORMAL       # NORMAL or NO_DAEMON
    scheduler.interval = 600    # in seconds
    valuation.interval = 120    # in seconds
}


#
# Market
#
market {
    open.time = "09:00:00"
    close.time = "15:30:00"
}


#
# Proxy
#
proxy {
    attribution {
        client.id = 1
        odbc.name = "JYDB2"
        host = "http://invest02-dev.datayes.com:8080"
        # http request timeout, in seconds
        timeout = 30

    }
    upload.path = "/tmp"
}


#
# Logger
#
logger {
    com.datayes.invest = DEBUG
    controllers = INFO
}
