@(content: Html)

<!DOCTYPE html>
<html>
    <head>
        <title>DataYes Account Management</title>

        <!-- EasyUI Styles -->
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("easyui/themes/gray/easyui.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("easyui/themes/icon.css")">
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("easyui/demo/demo.css")">
        
        <!-- EasyUI Javascripts -->
        <script type="text/javascript" src="@routes.Assets.at("easyui/jquery.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("easyui/jquery.easyui.min.js")"></script>

    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    DataYes Portfolio Management
                </a>
            </h1>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
