@layout {

<h3>Cache monitoring</h3>

<!--form method="get" action="@routes.CacheObservationController.monitorCacheData">
    <input type="submit" value="monitorCacheData"/>
</form>
<form method="get" action="@routes.CacheObservationController.monitorCacheSize">
    <input type="submit" value="monitorCacheSize"/>
</form>
<form method="get" action="@routes.CacheObservationController.monitorCacheMissingId">
    <input type="submit" value="monitorCacheMissingId"/>
</form-->

<p><a href="@routes.CacheObservationController.monitorCacheData">Monitor Cache Data</a></p>
<p><a href="@routes.CacheObservationController.monitorCacheSize">Monitor Cache Size</a></p>
<p><a href="@routes.CacheObservationController.monitorCacheMissingId">Monitor Cache Missing Id</a></p>
}
