@(pmsApiUrl: String, f2eHost: String, enterpriseId: String, companyName: String, username: String)

<!DOCTYPE html>
<html>
    <head>
        <title>通联数据</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <link href="http://@f2eHost/img/pms16.ico" rel="SHORTCUT ICON">

        <script type="text/javascript" charset="utf-8"
                biz="business/pms/index"
                jsonp="true"
                preload="easyui,cc"
                api="@pmsApiUrl"
                src="http://@f2eHost/js/compressed/cc-loader-1.0.0.js"></script>

        <script>
            window.sessionInfo = {
                enterprise:{
                    id:'@enterpriseId',
                    companyName:'@companyName'
                },
                employee:{
                    id:'10415',
                    serialNumber:'',
                    xingMing:'@username'
                }
            };
        </script>

    </head>
    <body>
    </body>
</html>